@use '../utils' as *;

.tr-section{
    &-subtitle{
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        display: block;
        color: var(--tr-theme-1);
        margin-bottom: 14px;
        @media #{$md,$xs}{
            font-size: 14px;
        }
        & i {
            color: var(--tr-theme-1);
            display: inline-block;
            transform: translateY(-4px);
            &:first-child{
                margin-right: 3px;
            }
            &:last-child{
                margin-left: 3px;
            }
        }
    }
}
.tr-section{
    &-title{
        font-weight: 700;
        font-size: 48px;
        line-height: 1.1;
        display: block;
        margin-bottom: 0;
        text-transform: capitalize;
        color: var(--tr-common-black);
        &.fs-32{
            font-size: 32px;
        }
        &.fs-24{
            font-size: 24px;
        }
        @media #{$xl}{
            font-size: 42px;
        }
        @media #{$lg,$md}{
            font-size: 38px;
        }            
        @media #{$xs}{
            font-size: 30px;
            & br {
                display: none;
            }
        }
        @media #{$sm}{
            font-size: 40px;
        }
    }
}